.main-slider {
    margin-top: 11px;

    //////////////////////////////
    .swiper-pagination-bullets {
        bottom: 24px;

        @include xs {
            bottom: 5px;
        }

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            background: rgba(0, 0, 0, 0.5);
            margin: 0 2.5px;

            &.swiper-pagination-bullet-active {
                background: $gold;
            }
        }
    }
}


.Product-slider {
    margin-top: 23px;
}

.products {
    position: relative;

    div[class^="swiper-button-"] {
        top: 50%;
        transform: translateY(-50%);
        color: #c3c3c3;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition(all 0.3s ease-in-out);

        @include xs {
            display: none !important;
        }

        &::after {
            display: none;
        }

        &.swiper-button-next {
            right: -45px;
        }

        &.swiper-button-prev {
            left: -45px;
        }

        &:hover {
            color: $gold;
        }

    }

    .swiper-pagination-bullets {
        bottom: -40px;
        width: 100%;

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            background: rgba(0, 0, 0, 0.5);
            margin: 0 3px;

            &.swiper-pagination-bullet-active {
                background: $gold;
            }
        }
    }
}

.product {
    border: 1px solid #ebebeb;
    width: 220px;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @include transition(all 0.3s ease-in-out);

    @include xs {
        margin: auto;
    }

    &:hover {
        border-color: $gold;
    }

    .item-img {
        margin-bottom: 25px;
        overflow: hidden;
        height: 189px;
        width: 189px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        img {
            margin: auto;
            width: auto;
            @include transition(all 0.3s ease-in-out);
            backface-visibility: hidden;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .item-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .pro-name {
        font-size: 15px;
        color: $text;
        margin-bottom: 14px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $gold;
        }
    }

    .prices {
        height: 47px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .old-price {
        font-size: 16px;
        text-decoration: line-through;
        color: #afafaf;
        font-family: "med";
    }

    .new-price {
        font-size: 18px;
        color: $text;
        font-family: "bold";
    }

    .tools {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 13px;
    }

    .mo-add-to-cart {

        background-image: -moz-linear-gradient(0deg, rgb(244, 214, 98) 0%, rgb(178, 120, 42) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(244, 214, 98) 0%, rgb(178, 120, 42) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(244, 214, 98) 0%, rgb(178, 120, 42) 100%);
        width: 156px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        font-size: 14px;
        color: #fff;
        font-family: "med";
        margin-left: 5px;
        @include transition(all 0.4s ease-in-out);


        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        overflow: hidden;

        span {
            margin-left: 8px;
            font-size: 16px;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $gold;
            border-radius: 0%;
            transform: scalex(0);
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            &:before {
                transform: scalex(1);
                border-radius: 35px;
            }
        }
    }

    .mo-add-to-wish {
        border-radius: 50%;
        background-color: #c3c3c3;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: $gold;
        }
    }
}



#{$ltr} .product {


    .mo-add-to-cart {
        margin-left: 0;
        margin-right: 5px;

        span {
            margin-left: 0;
            margin-right: 8px;
        }
    }


}

.brands-slider {
    margin-top: 73px;

    @include xs {
        margin-top: 53px;
    }
}

.brands-cont {
    position: relative;

    div[class^="swiper-button-"] {
        color: #c3c3c3;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        @include transition(all 0.3s ease-in-out);

        @include xs {
            display: none !important;
        }

        &::after {
            display: none;
        }

        &.swiper-button-next {
            right: -45px;
        }

        &.swiper-button-prev {
            left: -45px;
        }

        &:hover {
            color: $gold;
        }

    }

    .swiper-pagination-bullets {
        bottom: -40px;
        width: 100%;

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            background: rgba(0, 0, 0, 0.5);
            margin: 0 3px;

            &.swiper-pagination-bullet-active {
                background: $gold;
            }
        }
    }
}

.brand {
    .brand-img {
        width: 116px;
        height: 116px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        img {
            opacity: 0.5;
            filter: grayscale(100%);
            @include transition(all 0.4s ease-in-out);
        }

        &:hover {
            img {
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }
}