body {
    position: relative;
    font-family: tajwal;
    height: 5000px;

    &::-webkit-scrollbar {
        background-color: rgba($grey, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gold;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $gold rgba($grey, 0.5);
}

.overflow {
    overflow: hidden !important;
}