.features {
    margin-top: 16px;
    border: 1px dashed #c4c4c4;
    min-height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;

    @include xs {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .feature {
        font-size: 15.71px;
        color: $text;
        display: flex;
        align-items: center;
        cursor: default;

        @include xs {
            margin: auto;
            margin-bottom: 25px;
            flex-direction: column;

            &:last-of-type {
                margin: auto;
            }
        }

        span {
            font-size: 23.56px;
            color: $gold;
            margin-left: 10px;
            backface-visibility: hidden;
            @include transition(all 0.5s ease-in-out);

            @include xs {
                margin: auto;
            }
        }

        &:hover {
            span {
                transform: rotate(360deg);
            }
        }
    }
}

#{$ltr} .features {


    .feature {

        span {
            margin-left: 0;
            margin-right: 10px;

            @include xs {
                margin: auto;
            }
        }

        @include xs {
            margin: auto;
            margin-bottom: 25px;

            &:last-of-type {
                margin: auto;
            }
        }
    }
}


.banners {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include xs {
        flex-direction: column;
    }

    .banner {
        overflow: hidden;
        margin-left: 16px;

        &:last-child {
            margin-left: 0;
        }

        @include xs {
            margin-left: 0;
            margin-bottom: 15px;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            @include transition(all 0.5s ease-in-out);
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

#{$ltr} .banners {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include xs {
        flex-direction: column;
    }

    .banner {
        margin-left: 0;
        margin-right: 16px;

        &:last-child {
            margin-left: 0;
            margin-right: 0;
        }

        @include xs {
            margin-left: 0;
            margin-right: 0;
        }


    }
}